:root {
  --color-lavender: #C9BCD4;
  --color-herbalGreen: #67A36F;
  --color-mistGray: #E6EBE8;
  --color-roseCream: #F5EDE8;
  --color-forest: #1E261B;

  --cpvma-lavender: #C9BCD4;
  --cpvma-green: #67A36F;
  --cpvma-mist-gray: #E6EBE8;
  --cpvma-rose-cream: #F5EDE8;
  --cpvma-forest-black: #1E261B;
}
